$colorText: rgb(250, 250, 250);

*{
    box-sizing: border-box;
    padding: 0;margin: 0;
}

body,html{
    background-color: #151028;
    font-family: 'Manrope', sans-serif;
}
.header{
    width: 100%;

    &-top{
        padding: 2vw;

        width: 100%;
        height: 55px;
        background-color: #151028;

        display: flex;
        justify-content: center;
        align-items: center;
        &-wrapper{
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            &-logo{
                img{
                    max-width: 90px;
                }
            }   
            &-nav{
                min-width: 35vw;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                &-wrapper{
                    background-color: #110D20;
                    border-radius: 7px;

                    width: 100%;
                    height: 100%;

                    padding: 1vw;

                    display: flex;
                    align-items: center;
                    list-style: none;
                    .link{
                        height: 100%;
                        min-width: 30px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background-color: #231D47;

                        padding: 1vw;
                        margin: 1vw;

                        border-radius: 7px;

                        div{
                            width: 100%;
                            height: 100%;
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg{
                                width: 15px;
                                height: 15px;
                                color: #948AC5;
                            }
                        }
                    }   
                    &_money{
                        height: 100%;
                        min-width: 60px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        color: #fff;
                        
                        &-icon{
                            width: 100%;
                            height: 100%;
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg{
                                width: 20px;
                                height: 20px;
                                color: white;
                            }
                        }
                        &-money{
                            margin: 2vw;
                            p{
                                font-variant-numeric: tabular-nums;
                                font-family: Manrope;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 18px;
                                letter-spacing: -0.08px;
                                color: rgb(250, 250, 250);
                            }
                        }
                    }
                }
            }
        }
    }   
    &-bottom{
        border: 1px solid rgb(38, 28, 74);

        padding: 2vw;

        width: 100%;
        height: 55px;

        background-color: #151028;

        display: flex;
        justify-content: center;
        align-items: center;

        color: rgb(250, 250, 250);

        &-wrapper{
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            &-scores{
                width: 100%;
                height: 100%;

                overflow: hidden;

                display: flex;
                justify-content: start;
                align-items: center;

                list-style: none;
                &-last{
                    font-weight: bold;
                    min-width: 58px;
                    height: 26px;
                    display: grid;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    padding: 0px 9px;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 12px;
                    letter-spacing: -0.0023em;
                    color: $colorText;
                    border-radius: 7px;
                    background: rgb(62, 91, 194);
                    margin: 1vw;
                }
            }
        }
        &-under{
            border: 1px solid rgb(38, 28, 74);

            width: 100%;
            height: 55px;

            position: absolute;
            background: linear-gradient(to right, rgba(17, 17, 17, 0), #151028);

            display: flex;
            justify-content: end;
            align-items: center;
            &_button{
                height: 35px;
                width: 35px;

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #100C1F;

                padding: 0.8vw;
                margin: 2vw;

                border-radius: 7px;

                div{
                    width: 100%;
                    height: 100%;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 7px;
                    background-color: #231D47;
                    svg{
                        width: 15px;
                        height: 15px;
                        color: #948AC5;
                    }
                }
            }
        }
    }
}

.game{
    background-color: #151028;
    width: 100%;    
    height: 33vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

        &-wrapper{
        color: white;
        box-sizing: inherit;
        font-family: inherit;
        height: 208px;
        width: 95%;
        position: sticky;
        top: 70px;
        z-index: 970;
        pointer-events: none;
        &-wrapper{
            color: white;
            pointer-events: none;
            box-sizing: inherit;
            font-family: inherit;
            position: relative;
            overflow: hidden;
            width: 100%;
            border: 1px solid rgb(38, 28, 74);
            height: 208px;
            transition: height 0.32s ease 0s;
            border-radius: 12px;
            background: rgb(21, 16, 40);
            position: absolute;
            &-canvas{
                opacity: 1; transition: all 0.32s ease 0s;
                &_background{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: url(https://lucky-jet.1play.one/assets/media/ff4e62960d80d8105f6ea4eaa979884d.png) 0% 0% / contain repeat-x;
                    background-repeat: repeat-x;
                }
                &_bottom{
                    position: absolute;
                    width: 100%;
                    height: 80px;
                    bottom: -35px;
                    opacity: 1;
                    background: url(https://lucky-jet.1play.one/assets/media/86e9cddf78b8061081ecdae04d9d15e9.svg) 0% / contain repeat-x;
                    animation: bottomMove 10s linear infinite;
                }
                @keyframes bottomMove {
                    100% {
                      background-position: -250px 0px;
                    }
                }
                &_borderBottom{
                    position: absolute;
                    bottom: 0px;
                    left: 10px;
                    width: 100%;
                    height: 10px;
                    background-image: url(https://lucky-jet.1play.one/assets/media/9260d14d2c3b763fa9413b242c7a1788.svg);
                    border-top: 1px solid rgb(38, 28, 74);
                    background-repeat: repeat-x;
                    background-position-y: 3px;
                    animation: borderMove 10s linear infinite;
                }
                @keyframes borderMove {
                    100% {
                      background-position: -250px 0px;
                    }
                }
                &_borderLeft{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 10px;
                    height: 100%;
                    background-image: url(https://lucky-jet.1play.one/assets/media/9c9730503131fe326ed94d1d568b7479.svg);
                    border-right: 1px solid rgb(38, 28, 74);
                    background-repeat: repeat-y;
                    background-position-y: 0px; 
                    animation: leftMove 10s linear infinite;
                }
                @keyframes leftMove {
                    100% {
                      background-position: 0px 250px;
                    }
                }
                &-screen{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                    &-hero{
                        position: absolute;
                        width: 110px;
                        opacity: 1;

                        left: -5vw;
                        top: 15vh;
                        transition-duration: 1500ms;
                        animation: heroMove 2s linear infinite;

                        &-wrapper{
                            &-hero{
                                position: absolute;
                                width: 75%;
                                margin-top: 49%;
                                margin-left: -20%;
                            }
                            &-trace{
                                position: absolute;
                                width: 50%;
                                margin-top: 11%;
                                margin-left: 27%;
                            }
                        }
                    }
                    @keyframes heroMove {
                        0% {
                            margin-left: 0px;
                        }
                        50%{
                            margin-left: 10px;
                        }
                        100% {
                          margin-left: 0px;
                        }
                    }
                    svg{
                        width: 382.656px; height: 196.656px;
                        animation: lineMove 2s linear infinite;
                    }
                }
            }
            &-score{
                position: absolute;
                overflow: hidden;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                display: grid;
                align-content: center;
                justify-items: center;
                z-index: 2;
                grid-auto-rows: max-content;
                gap: 0px;
                opacity: 1;
                &_score{
                    pointer-events: none;
                    box-sizing: inherit;
                    display: inline;
                    font-size: 36px;
                    line-height: 43.2px;
                    text-align: center;
                    color: rgb(148, 78, 245);
                    font-family: 'Roboto', sans-serif;;
                    font-weight: bold;
                    font-variant-numeric: tabular-nums;
                }
                &_status{
                    pointer-events: none;
                    box-sizing: inherit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-transform: uppercase;
                    font-family: 'Mulish', sans-serif;
                    font-weight: bold;
                    color: rgb(250, 250, 250);
                    transition-duration: 500ms;
                    height: 24px;
                }
            }
        }
        &-screen{
            position: absolute;
            z-index: 9999999999999;
            width: 100%;
            height: 100%;
            background:#100C1F;
            border-radius: 12px;
            &-icon{
                width: 100%;
                height: 55%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 17vw;
                    height: 17vw;
                }
            }
            &-title{
                width: 100%;
                height: 20%;
                text-align: center;
                p{
                    font-family: 'Mulish', sans-serif;
                    font-weight: bold;
                    font-size: 17px;
                }
            }
            &-line{
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                &-line{
                    width: 50%;
                    height: 4px;                    
                    background-color:#1B1536;
                    border-radius: 20px;
                    &_line{
                        width: 100%;
                        height: 100%;
                        background-color: #743EC1;
                        border-radius: 20px;
                        // transition-duration: 7s;
                    }
                }
            }
        }
    }
}

.bets{
    width: 100%;
    height: 100%;
    
    background-color: #151028;
    padding: 2vw;
    &-wrapper{
        width: 100%;
        height: 100%;

        padding: 2vw;
        &_bet{
            width: 100%;
            height: 100%;

            border-radius: 4vw;
            background: linear-gradient(to right, #1F183C, #2B265D);
            &-header{
                width: 100%;
                min-height: 45px;

                display: flex;
                justify-content: center;
                align-items: center;
                
                &-wrapper{
                    width: 100%;
                    height: 100%;

                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    &-auto{
                        width: 55vw;
                        height: 100%;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .auto{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            div{
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            #checkbox{
                                background: #261F4D;
                                border: 0.7vw solid #1C1637;
                                border-radius: 1vw;
                                width: 25px;
                                height: 25px;
                            }
                            p{
                                padding-left: 2vw;
                                font-size: 12px;
                                font-weight: 700;
                                color: rgb(250, 250, 250);
                            }
                        }
                    }
                    &-size{
                        width: 20vw;
                        height: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &-button{
                            background-color: #1B1536;
                            max-width: 80px;
                            height: 100%;

                            height: 30px;
                            border-radius: 7px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            input{
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 700;
                                width: 50%;
                                height: 100%;
                                background: none;
                                border: none;
                                outline: none;
                                text-align: center;
                                opacity: 1;
                                transition: opacity 0.16s ease 0s;
                                box-shadow: transparent 0px 0px 0px 1000px inset;
                                color: $colorText;
                            }
                            p{
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 700;
                                width: 20%;
                                height:100%;
                                background: none;
                                border: none;
                                outline: none;
                                text-align: center;
                                opacity: 1;
                                transition: opacity 0.16s ease 0s;
                                box-shadow: transparent 0px 0px 0px 1000px inset;
                                color: #743EC1;
                                display: flex;
                                justify-content: center;
                                align-items: center ;
                            }
                        }
                    }
                }
            }
            &-main{
                width: 100%;
                min-height: 100px;

                display: flex;
                justify-content: space-around;
                align-items: center;

                border-radius: 4vw;

                background: #28204F;
                box-shadow: 0 0 0.6vw 0 #111;
                &-bet{
                    width: 45vw;
                    height: 11vh;

                    box-shadow: 0 0 0.5vw 0 #111;
                    background-color: #1B1536;

                    border-radius: 4vw;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    &-bet{
                        width: 100%;
                        height: 50%;

                        background-color: #1B1536;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 14px;

                        padding: 1vw;
                        &-plus{
                            width: 15%;
                            height: 100%;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &_button{
                                width: 7vw;
                                height: 7vw;
                                background: #231D47;
                                color: #948AC5;
                                font-weight: bold;
                                font-size: 17px;
                                border-radius: 2vw;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        &-input{
                            width: 70%;
                            height: 100%;
                            input{
                                height: 100%;
                                width: 100%;
                                background: transparent;
                                border: none;
                                text-align: center;
                                color: $colorText;
                                outline: none;
                                font-family: 'Mulish', sans-serif;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                        &-minus{
                            width: 15%;
                            height: 100%;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &_button{
                                width: 7vw;
                                height: 7vw;
                                background: #231D47;
                                color: #948AC5;
                                font-weight: bold;
                                font-size: 17px;
                                border-radius: 2vw;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        border-bottom: 1px solid #948ac562;
                    }
                    &-variations{
                        width: 100%;
                        height: 50%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &-nav{
                            width: 100%;
                            height: 100%;
                            list-style: none;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            &-button{
                                width: 9vw;
                                height: 6vw;
                                background: #231D47;
                                color: #948AC5;
                                font-weight: bold;
                                font-size: 11px;
                                border-radius: 2vw;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
                &-button{
                    width: 40vw;
                    height: 12vh;

                    border-radius: 12px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: #1E1E47;
                    &-content{
                        width: 95%;
                        height: 90%;
                        border-radius: 12px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        color: $colorText;
                        font-family: 'Mulish', sans-serif;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 20px;
                        letter-spacing: 0.06em;
                        text-align: center;
                        color: rgb(250, 250, 250);
                        text-shadow: rgb(138, 138, 138) 0px 0px 20px;
                        display: grid;
                        -webkit-box-pack: center;
                        place-content: center;
                        grid-auto-rows: max-content;
                        text-transform: uppercase;
                        font-variant-numeric: tabular-nums;
                        background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%);
                        box-shadow: rgba(25, 201, 245, 0.1) 0px 10px 20px, rgba(92, 36, 252, 0.1) 0px 10px 20px, rgb(148, 78, 245) 0px -2px 4px inset, rgba(148, 78, 245, 0.6) 0px -8px 8px inset;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        #out-money{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}